.form_searchabr {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: fit-content;
}
input {
  height: 25px;
  width: 350px;
  border-color: gainsboro;
  border-radius: 25px;
  margin-right: 10px;
}
button {
  background-color: rgb(249, 237, 223);
  border: none;
  border-radius: 25px;
  width: 75px;
  height: auto;
}
input[type="text"] {
  text-align: center; /* for Chrome, Firefox, Opera */
}
