.form_searchabr {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: fit-content;
}
input {
  height: 30px;
  width: 350px;
  border-color: rgba(247, 175, 49, 0.75);
  border-radius: 25px;
  margin-right: 10px;
}
button {
  background-color: rgba(252, 174, 40, 0.735);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  width: 75px;
  height: auto;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
input[type="text"] {
  text-align: center; /* for Chrome, Firefox, Opera */
  font-size: 18px;
}

@media (max-width: 600px) {
  input {
    height: 30px;
    width: 224px;
    margin-right: 5px;
  }
}
